@import url(./style.css);

.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  position: relative;
}
.hero-section .hero-content {
  order: 1;
  width: 50%;
}

.hero-section .hero-content h3 .dynamic-text {
  color: var(--cyan);
}

/*-------------------------------------------------------------------------*/
.hero-section .hero-img {
  width: 50%;
  height: 100%;
  order: 2;
}
.hero-section .hero-img .img-container {
  margin: 0 auto;
  width: 450px; /* Ajustez selon la taille désirée */
  height: 450px; /* Ajustez selon la taille désirée */
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  overflow: hidden; /* Pour couper l'image au polygone */
  animation: img-anim 2s linear 0.3s infinite alternate;
}
.hero-section .hero-img .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajuste l'image à l'intérieur du polygone */
}
