@import url(./style.css);

#skills h1 {
  margin: 15px 0 70px 0;
  text-align: center;
}
#skills .skills-section {
  gap: 50px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.skill-item {
  text-align: center;
  transition: 0.3s;
  border-radius: 50px;
  background: var(--cyan);
  padding: 5px 0;
  box-shadow: 0px 0px 5px 0.5px var(--Black);
  transition: 0.5s;
}
.skill-item svg,
.skill-item h5 {
  transition: 0.5s;
}
.skill-item h5 {
  font-size: 1.3rem;
}

.skill-item:hover svg,
.skill-item:hover h5 {
  transition: 0.5s;
  transform: scale(0.9);
}
.skill-content {
  height: 100%;
  border-radius: 50px;
  background: var(--bg);
  padding: 20px;
  margin: 0 -2px;
  text-align: center;
}
.progress-line {
  background-color: #e0e0e0;
  height: 8.5px;
  width: 70%;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px auto;
  position: relative;
}

.progress-line span {
  display: block;
  height: 100%;
  width: 0;
  border-radius: 5px;
  transition: width 1s ease;
  position: relative;
}

.progress-line span::after {
  content: attr(data-percent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--Black);
  font-weight: bold;
  font-size: 12px;
}

.html span {
  width: 95%; /* Parfaite maîtrise */
  background: #4caf50;
}
.html span::after {
  content: "95%";
}

.Css span {
  width: 90%; /* Très solide compréhension et pratique */
  background: #2196f3;
}
.Css span::after {
  content: "90%";
}

.JavaScript span {
  width: 90%; /* Expertise dans le développement front-end et back-end */
  background: #ff9800;
}
.JavaScript span::after {
  content: "90%";
}

.php span {
  width: 85%; /* Bonne maîtrise pour le développement back-end */
  background: #9c27b0;
}
.php span::after {
  content: "85%";
}

.java span {
  width: 80%; /* Très solide pour les projets back-end, notamment avec Spring Boot */
  background: #ff5722;
}
.java span::after {
  content: "80%";
}

.react span {
  width: 85%; /* Très bonne maîtrise pour des applications front-end modernes */
  background: #3f51b5;
}
.react span::after {
  content: "85%";
}

.SpringBoot span {
  width: 80%; /* Expertise pour le développement d'applications back-end */
  background: #8bc34a;
}
.SpringBoot span::after {
  content: "80%";
}

.Figma span {
  width: 75%; /* Bonne pratique pour le design et prototypage */
  background: #ffc107;
}
.Figma span::after {
  content: "75%";
}

.Sass span {
  width: 85%; /* Expertise dans les outils modernes de stylisation CSS */
  background: #e73879;
}
.Sass span::after {
  content: "85%";
}

.SQL span {
  width: 90%; /* Très bonne maîtrise des bases de données relationnelles */
  background: #795548;
}
.SQL span::after {
  content: "90%";
}

.NodeJS span {
  width: 80%; /* Bonne expertise pour développer des API back-end performantes */
  background: #4caf50;
}
.NodeJS span::after {
  content: "80%";
}
